#card
{
    width: 400px;
    height: 400px;
    background: salmon;
    position:relative;
    transition:2s;
    transform-style:preserve-3d;
    
}

#card:hover {
    transform:rotateY(180deg);
   
}

#eng #rus
{
  color:white; 
  text-align: center;
  font-size: 50px;
  font-weight: bolder; 
  position:relative;
  top: 150px;
}


#card #eng {
      backface-visibility: hidden;
}